.form__input {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  padding: 0 5px;
  font-size: 14px;
  border-bottom: 1px solid rgb(172, 172, 172);
  
  &::placeholder {
    opacity: 1;
    color: rgba(0,0,0,0.7);
  }
}

.form__btn {
  width: 100%;
  height: 45px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgb(182,193,52) 0%, rgb(160,171,34) 100%);
  box-shadow: 0 0 27px 10px rgba(182, 193, 52, 0.31);
  .transition();
  
  &:hover,
  &:active {
    box-shadow: none;
    .transition();
  }
}

.form__file,
.form__check {
  display: none;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid @green;
  }
  
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: @green;
    box-shadow: 0 0 27px 10px rgba(182, 193, 52, 0.31);
  }
}

.form__check:checked + .form__checkbox::after {
  display: block;
}

.form-block {
  width: 770px;
  margin-bottom: 60px;
  padding: 40px 70px;
  padding-bottom: 50px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 13.5px 1.5px rgba(0, 0, 0, 0.4);
  
  .title-h4 {
    margin-bottom: 3px;
  }
  
  .form__btn {
    margin-top: 22px;
    margin-bottom: 20px;
  }
  
  .form__checkbox {
    margin-left: 20px;
  }
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form__column {
  width: 300px;
}

.form__label {
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  
  &--top {
    margin-top: 24px;
  }
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 5px;
  min-height: 150px;
  font-size: 14px;
  border: 1px solid rgb(160, 160, 160);
  
  &--short {
    height: 50px;
    min-height: 50px;
  }
}

.form__file-btn {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid rgb(104, 110, 134);
  border-radius: 3px;
  cursor: pointer;
  .transition();
  
  &:hover,
  &:active {
    color: @green;
    border-color: @green;
    .transition();
  }
}
